
/* 分类页面样式 */
.category-all .category-list {
  /* 两列显示 */
  display: flex;
  flex-wrap: wrap;
}

.category-all .category-list .category-list-item {
  width: 47%;
  margin-bottom: 8px;
  text-align: center;
  border-radius: 4px;
}

.category-all .category-list .category-list-item:hover {
  /*-webkit-transform: translateX(-5px);*/
  /*-ms-transform: translateX(-5px);*/
  /*transform: translateX(-5px);*/
  /*-webkit-box-shadow: 0 0 6px #999;*/
  /*box-shadow: 0 0 6px #999;*/
  /*-webkit-transition: all .1s ease-out;*/
  /*transition: all .1s ease-out;*/

  transform: scale(1.1);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);

}

.category-all .category-list .category-list-item p {
  margin: 0;
}

.category-all .category-list .category-list-item a {
  color: white;
  border-bottom: none;
}

