
/* 分类页面样式 */
.tag-cloud-tags .tag-list {
  /* 两列显示 */
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
}

.tag-cloud-tags .tag-list .tag-list-item {
  width: 47%;
  margin-bottom: 8px;
  text-align: center;
  border-radius: 4px;
}


.tag-cloud-tags .tag-list .tag-list-item:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}

.tag-cloud-tags .tag-list .tag-list-item p {
  margin: 0;
}

.tag-cloud-tags .tag-list .tag-list-item a {
  margin: 0 !important;
  color: white;
  font-size: 18px !important;
  border-bottom: none;
}


